@import"tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  color: #1f2328;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #fdba74;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
}